body {
    background-color: black;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 23, 23)
}
.left {
    padding-left: 80px;
}
.right {
    padding-right: 120px;
}
ul {
    word-spacing: 70px;
    font-size: x-large;
}
li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
li:hover {
    background-color: purple;
    height: auto;
}
.top {
    background-color: rgb(29, 24, 24);
    text-align: center;
}
.ab {
    font-size: 100px;
    color: white;
}
.para {
    margin: auto;
    color: white;
    font-size: x-large;
}
.img {
    margin: auto;
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 10px;
}
.info {
    margin: auto;
    width: 30%;
    padding: 50px;
    height: 100px;
    background-color:  rgb(27, 23, 23);
    color: white;
    font-size: 20px;
    border-radius: 12%;
}
.end {
    margin-left: 30px;
    margin-bottom: 30px;
}
.end1 {
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.lefty {
    padding: 30px;
    color: white;
    background-color: rgb(27, 23, 23);
    width: 300px;
    border-radius: 12%;
}
.lefty3 {
    padding: 30px;
    background-color: rgb(27, 23, 23);
    width: 300px;
    color: white;
    border-radius: 12%;
}
.end2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
}
.lefty4 {
    padding: 30px;
    border-radius: 12%;
    background-color: rgb(27, 23, 23);
    width: 300px;
    color: white;
}
.lefty5 {
    padding: 30px;
    color: white;
    background-color: rgb(27, 23, 23);
    width: 300px;
    border-radius: 12%;
}
.Footer {
    width: 100%;
    background-color: rgb(27, 23, 23);
    height: 100px;
}
.Social {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
    font-size: medium;
}
.fb:hover {
    color: blue;
    background-color: black;
}
.copyright {
    word-spacing: 3px;
    color: white;
    text-align: center;
    font-size: medium;
}
@media (max-width: 1000px) and (min-width:0) {
    nav {
        justify-content: center;
        width: auto;        
    }
    .left {
        display: none;
    }
    .right {
        padding-right: 0%;
        justify-content: space-evenly;
    }
    ul {
        font-size: small;
        word-spacing: 20px;
    }    
    .logo {
        display: none;
    }
    .About {
        width: auto;
    }
    .middle {
        width: auto;
        justify-content: center;
    }
    img {
        padding: 0%;
        width: 400px;
    }
    .end {
        padding: 0%;
        margin-bottom: 30px;
    }
    .end1 {
        gap: 30px;
    }
    .end2 {
        gap: 30px;
    }
    .lefty {
        padding: 30px;
    }
    .lefty3 {
        padding: 30px;
    }
    .lefty4 {
        padding: 30px;
    }
    .lefty5 {
        padding: 30px;
    }
    .Footer {
        width: auto;
    }
    .copyright {
        font-size: small;
    }
}