body {
    background-color: black;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 23, 23)
}
.left {
    padding-left: 80px;
}
.right {
    padding-right: 120px;
}
ul {
    word-spacing: 70px;
    font-size: x-large;
}
li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
li:hover {
    background-color: purple;
    height: auto;
}
.top {
    background-color: rgb(29, 24, 24);
    text-align: center;
}
.ab {
    font-size: 100px;
    color: white;
}
.para {
    color: white;
    font-size: x-large;
}
.middle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img {
    margin: auto;
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 10px;
}
.info {
    height: 390px;
    background-color:  rgb(27, 23, 23);
    color: white;
    padding-top: 20px;
    font-size: x-large;
    padding-left: 40px;
}
.end {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    gap: 90px;
    padding-bottom: 20px;
}
.lefty {
    background-color: bisque;
    width: 30%;
}
.lefty1 {
    font-size: 20px;
}
.lefty3 {
    background-color: blue;
    width: 300px;
    color: white;
}
.lefty4 {
    background-color: cadetblue;
    width: 300px;
    color: beige;
}
.Footer {
    width: 100%;
    background-color: rgb(27, 23, 23);
    height: 100px;
}
.Social {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
    font-size: x-large;
}
.fb:hover {
    color: blue;
    background-color: black;
}
.copyright {
    word-spacing: 3px;
    color: white;
    text-align: center;
}
@media (max-width: 400px) {
    nav {
        width: 350px;
        padding-right: 0%;
        padding-left: 0%;
        margin: auto;        
    }
    .left {
        display: none;
    }
    .right {
        padding-right: 0%;
        justify-content: space-evenly;
    }
    ul {
        font-size: small;
        word-spacing: 20px;
    }    
    .logo {
    display: none;
    }
    .About {
        width: 350px;
    }
    .middle {
        justify-content: center;
    }
    .profile {
        width: 440px;
        padding: 0%;
        margin: auto;
    }
    .info {
        width: 320px;
        height: 500px;
        padding: 0%;
        margin: 0%;
        text-align: center;
    }
    .end {
        margin-top: 20px;
        padding: 0%;
        gap: 10px;
        margin-bottom: 30px;
    }
    .lefty {
        width: 320px;
        padding: 0%;
        margin: auto;
    }
    .lefty3 {
        width: 320px;
        padding: 0%;
        margin: auto;
    }
    .lefty4 {
        width: 320px;
        padding: 0%;
        margin: auto;
    }
    .Footer {
        width: 350px;
    }
    .copyright {
        font-size: small;
    }
}