body {
    background-color: black;
}
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(27, 23, 23);
}
.left {
    padding-left: 80px;
}
.right {
    padding-right: 120px;
}
ul {
    word-spacing: 70px;
    font-size: x-large;
}
li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
li:hover {
    background-color: purple;
    height: auto;
}
.heading {
    text-align: center;
}
.products {
    color: beige;
}
.items {
    margin-left: 70px;
}
.row {
    display: flex;
    gap: 110px;
    margin-bottom: 20px;
}
.item1 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item1:hover {
    background-color: darkred;
}
.text1 {
    color: white;
}
.item2 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item2:hover {
    background-color: darkred;
}
.text2 {
    color: white;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    margin-bottom: 20px;
}
.item3 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item3:hover {
    background-color: darkred;
}
.text3 {
    color: white;
}
.item4 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item4:hover {
    background-color: darkred;
}
.text4 {
    color: white;
}
.item5 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item5:hover {
    background-color: darkred;
}
.last {
    height: 400px;
}
.text5 {
    color: white;
}
.row3 {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    margin-bottom: 20px;
}
.item6 {
    text-align: center;
    background-color:  rgb(27, 23, 23);
    width: 500px;
    padding: 20px;
    border-radius: 10%;
}
.item6:hover {
    background-color: darkred;
}
.text6 {
    color: white;
}
button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: red;
    border-color: red;
}
.Footer {
    width: 100%;
    background-color: rgb(27, 23, 23);
    height: 100px;
}
.Social {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
    font-size: medium;
}
.fb:hover {
    color: blue;
    background-color: black;
}
.copyright {
    word-spacing: 3px;
    color: white;
    text-align: center;
    font-size: medium;
}
@media (max-width: 1000px) and (min-width:0) {
    nav {
        justify-content: center;
        width: auto;
        padding-right: 0%;
        padding-left: 0%;        
    }
    .left {
        display: none;
    }
    .right {
        padding-right: 0%;
        justify-content: space-evenly;
    }
    ul {
        margin-left: 50px;
        width: auto;
        padding: 0%;
        font-size: small;
        word-spacing: 30px;
    }    
    .logo {
    display: none;
    }
    .items {
        width: auto;
        margin: auto;
    }
    .row{
        justify-content: center;
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .row2{
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .row3 {
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .item1 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .item2 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .item3 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .item4 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .item5 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .item6 {
        padding: 0%;
        margin: 0%;
        width: auto;
    }
    .Assests {
        width: 400px;
    }
    .last {
        width: 400px;
    }
    .Footer {
        width: auto;
    }
    .Social {
        font-size: medium;
    }
    .copyright {
        font-size: small;
    }
}