body {
    background-color: black;
}
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(27, 23, 23)
}
ul {
    word-spacing: 70px;
    font-size: x-large;
}
li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
li:hover {
    background-color: purple;
    height: auto;
}
.cover {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lefts {
    padding-left: 120px;
}
.left {
    padding-left: 120px;
}
.right {
    padding-right: 120px;
}
.name {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.small {
    color: white;
    font-size: x-large;
}
.ORDER {
    background-color: red;
    color: white;
    height: 50px;
    width: 250px;
}
.Footer {
    width: 100%;
    background-color: rgb(27, 23, 23);
    height: 100px;
}
.Social {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
    font-size: x-large;
}
.fb:hover {
    color: blue;
    background-color: black;
}
.copyright {
    word-spacing: 3px;
    color: white;
    text-align: center;
}
@media (max-width: 400px) {
    nav {
        width: 350px;
        padding-right: 0%;
        padding-left: 0%;
        margin: auto;        
    }
    .lefts {
        display: none;
    }
    .right {
        padding-right: 0%;
        justify-content: space-evenly;
    }
    ul {
        font-size: small;
        word-spacing: 20px;
    }    
    .logo {
    display: none;
    }
    .cover {
        width: 350px;
        flex-direction: column-reverse;
        padding-bottom: 35px;
    }
    .left {
        padding: 0%;
        margin: auto;
        width: 350px;
    }
    .name {
        text-align: center;
        font-size: x-large;
    }
    .small {
        font-size: small;
        text-align: center;
    }
    .ORDER {
        width: 350px;
    }
    .Footer {
        width: 350px;
        height: 120px;
    }
    .copyright {
        font-size: small;
    }
}