body {
    background-color: black;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 23, 23)
}
ul {
    word-spacing: 70px;
    font-size: x-large;
}
li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
li:hover {
    background-color: purple;
    height: auto;
}
.cover {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.left {
    padding-left: 120px;
}
.right {
    padding-right: 120px;
}
.name {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.small {
    color: white;
    font-size: x-large;
}
.ORDER {
    background-color: red;
    color: white;
    height: 50px;
    width: 250px;
}
.Footer {
    background-color: rgb(27, 23, 23);
    height: 100px;
}
.Social {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
    font-size: x-large;
}
.fb:hover {
    color: blue;
    background-color: black;
}
.copyright {
    word-spacing: 3px;
    color: white;
    text-align: center;
}